Repository SSAFYnity/Job-Preparation-Challenge-4th, pull requests merged in 2025-01, with the labels that each got.

#7 solved 쿠키의신체측정 - 252ms 23500kb
  Baekjoon/쿠키의신체측정/쿠키의신체측정_박철순.java
Labels: Easy, Java

#2 solved 쿠키의 신체 측정 - 240ms 19380KB
  Baekjoon/쿠키의신체측정/쿠키의신체측정_강정훈.java
Labels: Easy, Java

#11 solved 쿠키의 신체측정 - 164ms 20876kb
  Baekjoon/쿠키의신체측정/쿠키의신체측정_김인호.java
Labels: Easy, Java

#18 solved 1차캐시 - 40.70ms 108mb
  Programmers/캐시/일차캐시_김인호.java
Labels: Easy, Java

#40 solved 정육점 416ms 42732mb
  Baekjoon/정육점/정육점_김인호.java
Labels: Java, Nomal

#23 solved 캐시 - 51.57ms 139MB
  Programmers/캐시/캐시_강정훈.java
Labels: Easy, Java

#39 solved 정육점 - 536ms 44936KB
  Baekjoon/정육점/정육점_강정훈.java
Labels: Java, Nomal

#14 solved 등대 - 59.14ms 130MB
  Programmers/등대/등대_최지수.java
Labels: Hard, Java

#16 solved 캐시 - 36.04ms 105MB
  Programmers/캐시/캐시_최지수.java
Labels: Easy, Java

#30 solved 정육점 - 376ms 41496KB
  Baekjoon/정육점/정육점_최지수.java
Labels: Java, Nomal

#47 solved 빙산 - 568ms 108292KB
  Baekjoon/빙산/빙산_최지수.java
Labels: Java, Nomal

#56 solved 산모양타일링 - 8.19ms 80.1MB
  Programmers/산모양타일링/산모양타일링_최지수.java
Labels: Hard, Java

#64 solved 등산코스정하기 - 2258.06ms 440MB
  Programmers/등산코스정하기/등산코스정하기_최지수.java
Labels: Hard, Java

#20 solved 쿠키의 신체측정 - 228mb 23.152mb
  Baekjoon/쿠키의신체측정/쿠키의신체측정_김수빈.java
Labels: Easy, Java

#21 unsolved 캐시
  Programmers/캐시/캐시_김수빈.java
Labels: Easy, Java

#91 unsolved 산 모양 타일링 - 6.81ms, 93.2mb
  Programmers/산모양타일링/산모양타일링_김수빈.java
Labels: Java, Nomal

#41 solved 정육점 - 480ms 44548KB
  Baekjoon/정육점/정육점_박영빈.java
Labels: Java, Nomal

#71 solved 등산코스정하기 - 191.13ms 171MB
  Programmers/등산코스정하기/등산코스정하기_박영빈.java
Labels: Hard, Java

#3 solved 쿠키의신체측정 - 12ms 2.8mb
  Baekjoon/쿠키의신체측정/쿠키의신체측정_조은영.cpp
Labels: C++, Easy

#45 solved 빙산 - 136ms 3mb
  Baekjoon/빙산/빙산_조은영.cpp
Labels: C++, Nomal

#58 solved 산모양타일링 - 1.23ms 6.81mb
  Programmers/산모양타일링/산모양타일링_조은영.cpp
Labels: C++, Hard

#22 solved 1차캐시 - 72.63ms 17.6mb
  Programmers/1차캐시/1차캐시_박단비.py
Labels: Nomal, Python

#34 solved 정육점 - 2820ms 57288kb
  Baekjoon/정육점/정육점_박단비.py
Labels: Nomal, Python

#52 solved 빙산 - 3132ms 35028kb
  Baekjoon/빙산/빙산_박단비.py
Labels: Easy, Python

#25 solve 캐시 - 59.76ms 42.5mb
  Programmers/캐시_김지환.js
Labels: Easy, JavaScript

#77 solved 테트로미노 - 420ms 17280kb
  Baekjoon/테트로미노/test.txt
  Baekjoon/테트로미노/테트로미노_김지환.js
Labels: JavaScript, Nomal

#121 solved 기지국설치 - 2.02ms 36.9MB
  Programmers/기지국설치/기지국설치_김지환.js
Labels: Hard, JavaScript

#65 solved 정육점 - 376ms 44984kb
  Baekjoon/정육점/정육점_김지환.js
Labels: JavaScript, Nomal

#132 solved 표편집 - 272ms 160mb
  Programmers/표편집/표편집_김지환.js
Labels: Hard, JavaScript

#28 solved 캐시 - 35.68ms 122mb
  Programmers/캐시/캐시_옥수빈.java
Labels: Easy, Java

#36 solved 정육점 - 548ms 61.020mb
  Baekjoon/쿠키의신체측정/정육점/정육점_옥수빈.java
Labels: Java, Nomal

#46 solved 빙산 - 660ms 75.888mb
  Baekjoon/빙산/빙산_옥수빈.java
Labels: Java, Nomal

#83 solved 테트로미노 484ms 31824mb
  Baekjoon/테트로미노/테트로미노_김범규.java
Labels: Hard, Java

#144 sovled 미세먼지안녕 - 236ms 26008kb
  Baekjoon/미세먼지안녕/미세먼지안녕_박은정.java
Labels: Java, Nomal

#50 solved 빙산 - 536ms 80576KB
  Baekjoon/빙산/빙산_강정훈.java
Labels: Java, Nomal

#81 solved 테트로미노 - 736ms 32452KB
  Baekjoon/테트로미노/테트로미노_강정훈.java
Labels: Hard, Java

#87 solved 표 편집 - 280.43ms 145MB
  Programmers/표편집/표편집_강정훈.java
Labels: Java, Nomal

#86 solved 표편집 114.02ms 107mb
  Programmers/표 편집/표편집_김범규.java
Labels: Hard, Java

#96 solved 리모컨 236ms 47088kb
  Baekjoon/리모컨/리모컨_김범규.java
Labels: Java, Nomal

#111 solved 기지국설치 0.22ms 94mb
  Programmers/기지국설치/기지국설치_김범규.java
Labels: Java, Nomal

#92 unsolved 테트로미노 - 2000ms 518mb
  Baekjoon/테트로미노/테트로미노_김수빈.java
Labels: Java, Nomal

#106 solved 리모컨 - 292ms 64868kb
  Baekjoon/리모컨/리모컨_김수빈.java
Labels: Java, Nomal

#113 solved 기지국 설치 - 1.14ms 72.7mb
  Programmers/기지국설치/기지국설치_김수빈.java
Labels: Java, Nomal

#130 solved 미세먼지 안녕 - 352ms 128344kb
  Baekjoon/미세먼지안녕/미세먼지안녕_김수빈.java
Labels: Java, Nomal

#164 solve 캐시 - 59.76ms 42.5mb
  Programmers/캐시/캐시_김지환.js
Labels: JavaScript, Nomal

#93 Solved 표편집 - 0ms 0kb
  Programmers/표편집/표편집_김인호.java
Labels: Hard, Java

#78 solved 테트로미노- 792ms 35844kb
  Baekjoon/테트로미노/테트로미노_김인호.java
Labels: Java, Nomal

#103 solved 리모컨_김인호 - 252ms 99000kb
  Baekjoon/리모컨/리모컨_김인호.java
Labels: Hard, Java

#109 solved 기지국설치 - 0.87ms 55.5mb
  Programmers/기지국설치/기지국설치_김인호.java
Labels: Java, Nomal

#124 solved 미세먼지안녕 - 252ms 33428kb
  Baekjoon/미세먼지안녕/미세먼지안녕_김인호.java
Labels: Java, Nomal

#79 solved 테트로미노 - 604ms 36476kb
  Baekjoon/테트로미노/테트로미노_박은정.java
Labels: Java, Nomal

#88 solved 표편집 - 0ms 0mb
  Baekjoon/표편집/표편집_박은정.java
Labels: Hard, Java

#95 solved 리모컨 - 336ms 98152kb
  Baekjoon/리모컨/리모컨_박은정.java
Labels: Java, Nomal

#100 solved 리모컨 - 456ms 217mb
  Baekjoon/리모컨/리모컨_옥수빈.java
Labels: Java, Nomal

#143 solved 드래곤커브 - 112ms 1440kb
  Baekjoon/드래곤커브/드래곤커브_박은정.java
Labels: Hard, Java

#176 solved 보석쇼핑 - 0ms 0kb
  Programmers/보석쇼핑/보석쇼핑_박은정.java
Labels: Hard, Java

#175 solved 트리의지름 - 832ms 97144kb
  Baekjoon/트리의지름/박은정_트리의지름.java
Labels: Easy, Java

#38 solved 정육점 - 164ms 36264kb
  Baekjoon/정육점/정육점_김부경.py
Labels: Nomal, Python

#57 solved 빙산 - 728ms 137916KB
  Baekjoon/빙산/빙산_김부경.py
Labels: Nomal, Python

#68 solved 산모양타일링 - 64.79ms 17.5mb
  Programmers/산모양타일링/산모양타일링_김부경.py
Labels: Hard, Python

#72 solved 등산코스정하기 - 522.41ms 88.9mb
  Programmers/등산코스정하기/등산코스정하기_김부경.py
Labels: Nomal, Python

#80 solved 테트로미노 - 1036ms 117488kb
  Baekjoon/테트로미노/테트로미노_김부경.py
Labels: Nomal, Python

#105 solved 리모컨 - 244ms 110760kb
  Baekjoon/리모컨/리모컨_김부경.py
Labels: Nomal, Python

#112 solved 기지국설치 - 2.59ms 10.2mb
  Programmers/기지국설치/기지국설치_김부경.py
Labels: Nomal, Python

#131 solved 미세먼지안녕 - 316ms 112564kb
  Baekjoon/미세먼지안녕/미세먼지안녕_김부경.py
Labels: Nomal, Python

#140 solved 불량사용자 - 73.24ms 10.1mb
  Programmers/불량사용자/불량사용자_김부경.py
Labels: Nomal, Python

#126 solved 미세먼지안녕 332ms 33244kb
  Baekjoon/미세먼지_안녕/미세먼지_안녕_김범규.java
Labels: Hard, Java

#135 solved 불량사용자 91.67ms 125mb
  Programmers/불량사용자/불량사용자_김범규.java
Labels: Java, Nomal

#146 solved 드래곤커브 128ms 15668kb
  Baekjoon/드래곤커브/드래곤커브_김범규.java
Labels: Java, Nomal

#159 sovled 경주로건설 8.81ms 82.5mb
  Programmers/경주로건설/경주로건설_김범규.java
Labels: Hard, Java

#180 solved 보석쇼핑 6.31ms 38mb
  Programmers/보석쇼핑/보석쇼핑_김범규.js
Labels: JavaScript, Nomal

#110 solved 기지국 설치 - 1.40ms 87.5MB
  Programmers/기지국설치/기지국설치_강정훈.java
Labels: Easy, Java

#116 solved 리모컨 - 260ms 82708KB
  Baekjoon/리모컨/리모컨_강정훈.java
Labels: Java, Nomal

#138 solved 불량 사용자 - 115.12ms 116MB
  Programmers/불량사용자/불량사용자_강정훈.java
Labels: Hard, Java

#158 solved 경주로 건설 - 10.28ms, 93.8MB
  Programmers/경주로건설/경주로건설_강정훈.java
Labels: Java, Nomal
