Repository SSAFYnity/Job-Preparation-Challenge-4th, pull requests merged in 2025-02, with the labels that each got.

#136 Solved 불량사용자 - 85ms 123mb
  Programmers/불량사용자/불량사용자_김인호.java
Labels: Java, Nomal

#149 solved 드래곤커브 112ms 13200kb
  Baekjoon/드래곤커브/드래곤커브_김인호.java
Labels: Hard, Java

#169 solved 트리의지름 1512ms 311988kb
  Baekjoon/트리의지름/트리의지름_김인호.java
Labels: Java

#177 Solved 보석쇼핑 70.04ms 81.5mb
  Programmers/보석쇼핑/보석쇼핑_김인호.java
Labels: Hard, Java

#191 Solved 주사위굴리기 192ms 14932kb
  Baekjoon/주사위굴리기/주사위굴리기_김인호.java
Labels: Hard, Java

#183 solved 보석쇼핑 - 83.60ms 17.mb
  Programmers/보석쇼핑/보석쇼핑_박단비.py
Labels: Nomal, Python

#60 unsolved 산모양타일링 - 65.84ms 18.3mb
  Programmers/산모양타일링/산모양타일링_박단비.py
Labels: Hard, Python

#66 unsolved 등산코스정하기 - 534ms 87.8mb
  Programmers/등산코스정하기/등산코스정하기_박단비.py
Labels: Hard, Python

#104 solved 리모컨 - 1044ms 32412kb
  Baekjoon/리모컨/리모컨_박단비.py
Labels: Nomal, Python

#120 solved 기지국설치 - 4.36ms 10.9mb
  Programmers/기지국설치/기지국설치_박단비.py
Labels: Nomal, Python

#139 solved 불량사용자 - 295.25ms 10.4mb
  Programmers/불량사용자/불량사용자_박단비.py
Labels: Nomal, Python

#166 solved 경주로건설 - 133.34ms 10.4mb
  Programmers/경주로건설/경주로건설_박단비.py
Labels: Nomal, Python

#193 solved 주사위굴리기 136ms 14860kb
  Baekjoon/주사위굴리기/김범규_주사위굴리기.java
Labels: Java, Nomal

#198 solved 단속카메라 15.52ms 58.3mb
  Programmers/단속카메라/단속카메라_김범규.java
Labels: Easy, Java

#209 solved 내리막길 352ms 35532kb
  Baekjoon/내리막길/내리막길_김범규.java
Labels: Java, Nomal

#161 solved 경주로 건설 - 6.85ms 91.1mb
  Programmers/경주로건설/옥수빈_경주로건설.java
Labels: Java, Nomal

#172 solved 트리의 지름 - 828ms 118.468mb
  Baekjoon/트리의지름/트리의지름_옥수빈.java
Labels: Java, Nomal

#184 solved 보석 쇼핑 - 108.25ms 91.9mb
  Programmers/보석쇼핑/보석쇼핑_옥수빈.java
Labels: Java, Nomal

#201 solved 단속카메라 - 10.48ms, 83.9mb
  Programmers/단속카메라/단속카메라_옥수빈.java
Labels: Easy, Java

#75 solved 테트로미노 - 3412ms 311208KB
  Baekjoon/테트로미노/테트로미노_최지수.java
Labels: Java, Nomal

#89 solved 표편집 - 326.35ms 143MB
  Programmers/표편집/표편집_최지수.java
Labels: Hard, Java

#97 solved 리모컨 - 68ms 11576KB
  Baekjoon/리모컨/리모컨_최지수.java
Labels: Java, Nomal

#108 solved 기지국설치 - 1.19ms 54.8MB
  Programmers/기지국설치/기지국설치_최지수.java
Labels: Easy, Java

#129 solved 미세먼지안녕 - 244ms 17664KB
  Baekjoon/미세먼지안녕/미세먼지안녕_최지수.java
Labels: Java, Nomal

#137 solved 불량사용자 - 17.91ms 88.7MB
  Programmers/불량사용자/불량사용자_최지수.java
Labels: Java, Nomal

#151 solved 드래곤커브 - 76ms 11904KB
  Baekjoon/드래곤커브/드래곤커브_최지수.java
Labels: Java, Nomal

#155 solved 경주로건설 - 2.87ms 77.4MB
  Programmers/경주로건설/경주로건설_최지수.java
Labels: Hard, Java

#170 solved 트리의지름 - 584ms 92300KB
  Baekjoon/트리의지름/트리의지름_최지수.java
Labels: Hard, Java

#178 solved 보석쇼핑 - 64.93ms 81.3MB
  Programmers/보석쇼핑/보석쇼핑_최지수.java
Labels: Easy, Java

#188 solved 트리의 지름 - 736ms, 102344KB
  Baekjoon/트리의지름/강정훈_트리의지름.java
Labels: Java, Nomal

#189 solved 보석 쇼핑 - 77.09ms, 82.1MB
  Programmers/보석쇼핑/보석쇼핑_강정훈.java
Labels: Hard, Java

#200 solved 단속카메라 - 9.10ms 59MB
  Programmers/단속카메라/강정훈_단속카메라.java
Labels: Easy, Java

#192 solved 주사위굴리기 - 72ms 11976KB
  Baekjoon/주사위굴리기/주사위굴리기_최지수.java
Labels: Easy, Java

#203 solved 단속카메라 - 7.75ms 55.6MB
  Programmers/단속카메라/단속카메라_최지수.java
Labels: Easy, Java

#210 solved 내리막길 - 284ms 39592KB
  Baekjoon/내리막길/내리막길_최지수.java
Labels: Java, Nomal

#254 solved 오큰수 888mss 156536kb
  Baekjoon/오큰수/오큰수_박은정.java
Labels: Java, Nomal

#219 solved 내리막길 - 356ms 37224KB
  Baekjoon/내리막길/내리막길_박은정.java
Labels: Java, Nomal

#226 solved 오큰수 880ms 148016kb
  Baekjoon/오큰수/오큰수_김범규.java
Labels: Java, Nomal

#233 solved 풍선_터트리기 14.31ms 129mb
  Programmers/풍선터트리기/풍선터트리기_김범규.java
Labels: Java, Nomal

#250 solved 보행자천국 99.05ms 117mb
  Programmers/보행자천국/보행자천국_김범규.java
Labels: Hard, Java

#253 solved 이분그래프 864ms 272404mb
  Baekjoon/이분그래프/이분그래프_김범규.java
Labels: Java, Nomal
